@import "./scss/variables";

@function getColor($color-name) {
  @return map-get($colors, $color-name);
}

@mixin buttonStyle($mainColor, $accentColor) {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  color: getColor(text);
  margin: 5px;
  border: none;
  outline: 0;
  background-color: $mainColor;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 1px 1px 5px rgb(73, 73, 73);
  transition: ease-in-out 250ms;
  &:hover {
    background-color: $accentColor;
  }
  &:disabled {
    background-color: getColor(disabled);
  }
}

// @mixin theme($light-theme: true) {
//   @if $light-theme {
//     background-color: lighten($primary-color, 100%);
//     color: darken($text-color, 100%);
//   }
// }

.App {
  background-color: #4D774E;
  min-height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4D774E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.Button {
  @include buttonStyle(getColor(primary), getColor(primary-hover));

  &__primary {
    @include buttonStyle(getColor(primary), getColor(primary-hover));
    &__text {
      @include buttonStyle(transparent, getColor(outline-hover));
      color: getColor(primary);
      box-shadow: none;
    }

    &__outline {
      @include buttonStyle(transparent, getColor(outline-hover));
      background-color: transparent;
      border: 2px solid getColor(primary);
      color: getColor(primary);
    }
  }
  &__secondary {
    @include buttonStyle(getColor(secondary), getColor(secondary-hover));
    &__text {
      @include buttonStyle(transparent, getColor(outline-hover));
      color: getColor(secondary);
      box-shadow: none;
    }
    &__outline {
      @include buttonStyle(transparent, getColor(outline-hover));
      background-color: transparent;
      border: 2px solid getColor(secondary);
      color: getColor(secondary);
    }
  }
  &__tertiary {
    @include buttonStyle(getColor(tertiary), getColor(tertiary-hover));
    &__text {
      @include buttonStyle(transparent, getColor(outline-hover));
      color: getColor(tertiary);
      box-shadow: none;
    }
    &__outline {
      @include buttonStyle(transparent, getColor(outline-hover));
      background-color: transparent;
      border: 2px solid getColor(tertiary);
      color: getColor(tertiary);
    }

  }
}

// .light {
//   @include theme(true);
// }